@import "../../styles/variables.scss";

.button {
  border-radius: $border-radius;
  border: none;
  cursor: pointer;
  padding: 1.375rem 0px 1.375rem 0px;

  &.primary {
    background-color: $primary-color;
  }

  &.secondary {
    background-color: $secondary-color;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.text {
  color: $white-color;
  font-size: 1rem;
  font-weight: 600;
  background-clip: text;

  &.stroke {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
  }

  &.uppercase {
    text-transform: uppercase;
  }
}
