$primary-color: #ff8310;
$secondary-color: #393939;
$background-color: #232323;
$blue-color: #191a20;
$background-image: #22232c;
$white-color: #ffffff;
$gray-color: #cccccc;

$border-radius: 8px;

$font-family: "Roboto", sans-serif;
