@import "../../styles/variables.scss";

.slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider_input {
  -webkit-appearance: none;
  appearance: none;
  height: 0.5rem;
  border-radius: $border-radius;
  background: $secondary-color;
  outline: none;
  transition: opacity 0.15s ease-in-out;
  background-image: linear-gradient(to right, $primary-color, $primary-color);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  width: 100%;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
  }

  &::-moz-range-thumb {
    width: 0;
    height: 0;
  }
}
